  p {
    font-family: Roboto;
  }
  .video-title {
    font-size: 30px;
    font-weight: bold;
    width: 500px;
    line-height: 33px;
    margin-bottom: 5px;
  }

  .video-stat {
    font-size: 14px;
    color: #606060;
    margin-top: 0;
  }

  .video-auther {
    font-size: 14px;
    color: #606060;
    margin-top: 0;
  }
  .video-desc {
    font-size: 14px;
    color: #606060;
    margin-top: 0;
    width: 280px;
    line-height: 20px;
    margin-bottom: 70px;
  }

  .video-apple{
    padding-right: 300px;
    padding-left: 300px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: red;
    font-weight: bold;
    color: white;
    text-align: center;
    
  }
  .shop-link{
    cursor: pointer;
  }

  .shop-link :hover{
    text-decoration: underline;
   }
